@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$grey: rgb(229, 229, 229);

* {
  font-family: "Inter", system-ui !important;
  box-sizing: border-box;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #f9f2ed;
  background-image: linear-gradient(125deg, #1e90ff, #008080, #3cb371, #48d1cc, #9370db, #dda0dd, #ba55d3, #b22222);
  background-size: 500% 500%;
  overflow: auto;
  animation: bganimation 20s linear infinite;
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  margin: 60px auto;
  text-align: center;
  font-size: 46px;
  text-transform: uppercase;
  @media (max-width: 767px) {
    margin: 40px auto;
    font-size: 32px;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 80px auto;
  padding: 30px;
  width: 700px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    margin: 40px auto;
    padding: 10px;
    width: 350px;
  }

  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.block {
  position: relative;
  input {
    padding: 40px 20px;
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
    font-size: 3rem;
    @media (max-width: 767px) {
      font-size: 2rem;
    }
    font-weight: bold;
    letter-spacing: 1.3px;
  }
}

.currencies {
  display: flex;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: auto;
  list-style: none;

  &__choice {
    background: url("../public/arrow-down.svg") no-repeat 50%/12px;

    &.active {
      background: url("../public/arrow-up-white.svg") no-repeat 50%/12px;
    }
  }

  &__table {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
    padding: 10px;
    height: calc(100% - 50px);
    overflow: auto;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  &__item:hover {
    background-color: $grey;
  }

  li {
    flex: 1;
    padding: 10px 10px;
    @media (max-width: 767px) {
      padding: 7px 7px;
      font-size: 14px;
    }
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.active {
      color: #fff;
      background-color: #16b67f;
    }

    &:last-of-type {
      border-right: 0;
    }

    &:hover {
      background-color: $grey;
    }
  }
}
